*{
    margin : 0;
    padding :0;
    box-sizing : border-box;
    background-color : black;
}
html,body{
    height:100%;
    width: 100%;
}

h1{
    color : white
}
#p1{
    color:yellow
}
#p2{
    color:green;
}
#p3{
    color:chartreuse;
}

